* {
	box-sizing: border-box;
	cursor: default;
	margin: 0;
}

@media (max-width: 400px) {

	#button, #refresh-button {
		margin: 10px 5px !important;
	}

	.inner-div {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	#image {
		max-width: 300px !important;
	}
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#button, #refresh-button {
	margin: 20px 10px;
	width: 175px;
	height: 35px;
	border-radius: 25px;
	border-color: white;
	font-family: Tahoma, sans-serif;
	cursor: pointer;
	outline: none;
	border: none;
	box-shadow: 0 5px #999;
}

#button {
	background-color: darkslateblue;
	color: white;
}

#refresh-button {
	background-color: hotpink;
	color: white;
}

#button:hover {
	background-color: #CCCCFF;
	color: black;
}

#refresh-button:hover {
	background-color: #F8C8DC;
	color: black;
}

#button:active, #refresh-button:active {
	box-shadow: 0 2px #666;
	transform: translateY(4px);
}

#count {
	font-family: Tahoma, sans-serif;
	font-size: 18px;
	margin: 10px;
}

#image {
	display: none;
	max-width: 500px;
}
